<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Employees</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</head>
<body>
<div class="container mt-5">
    <p class="h1 text-center mb-5">List of employees
        <span th:if="${#strings.contains(#httpServletRequest.requestURI, 'employeesByDepartment')}" th:text="'in' + ${department}"></span>
    </p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Department</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td>
                <a href="#"  th:href="@{'/employeesByDepartment/' + ${employee.department.id}}">
                    <span th:text="${employee.department.name}"></span>
                </a>
            </td>
            <td>
                <a class="btn btn-primary" href="#"  th:href="@{'/employee/' + ${employee.id}}">
                    <span>Show Info</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>