<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Departments</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</head>
<body>
<div class="container mt-5">
    <p class="h1 text-center mb-5">List of departments
        <span th:if="${#strings.contains(#httpServletRequest.requestURI, 'departmentsByLocation')}" th:text="'in ' + ${location}"></span>
    </p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td th:text="${department.id}"></td>
            <td th:text="${department.name}"></td>
            <td>
                <a href="#"  th:href="@{'/departmentsByLocation/' + ${department.location.id}}">
                 <span th:text="${department.location.name}"></span>
                </a>
            </td>
            <td>
                <ul th:each="employee : ${department.employees}">
                    <a href="#"  th:href="@{'/employee/' + ${employee.id}}">
                        <li th:text="${employee.firstName} + ' ' + ${employee.lastName}"></li>
                    </a>

                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>